
@model ModuloExequatur.Models.ExequaturSolicitude
@{
    string tiempoTranscurrido = "";
}

<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<script src="~/Content/intro.js-2.7.0/intro.js"></script>

<style>
    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 90% !important;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 1;
    }


    .indicador h3 {
        padding: 20px 0 !important;
    }



    .wizard .nav-tabs > li {
        width: 20% !important;
    }
</style>

<link rel="stylesheet" href="~/Content/css/formWizard.css" />
<script src="~/scripts/formWizard.js"></script>

<!-- Trigger the modal with a button -->
<button type="button" id="openModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display:none;">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="text-align: left;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><b>Seleccionar el tipo de pago</b></h2>
            </div>
            <div class="modal-body" style="text-align: center; padding: 10px 0px 0px 0px !important;">
                <button type="button" id="codigoBanco" class="btn btn-primary">Código de adquisición del banco</button>
                <button id="pagoCarnet" type="button" class="btn btn-primary">Proceder a pagar con Cardnet</button>
            </div>

            <div id="pagarConElBanco" style="padding: 15px;">

                <div style="padding: 15px 0;">
                    <div id="divcie">
                        <div class="row">
                            <div class="col-md-6" style="text-align:right;">
                                <label>Código CAS - Exequátur</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" id="cie" name="cie" />
                            </div>
                        </div>
                    </div>
                    <div id="divciap">
                        <div class="row">
                            <div class="col-md-6" style="text-align:right;">
                                <label>Código CAS - No Antecedentes Penales</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" id="ciap" name="ciap" />
                            </div>
                        </div>
                    </div>
                </div>

                <div style="text-align:center;">
                    <button type="button" id="validarCodigos" class="btn btn-primary">Validar códigos de servicios</button>
                </div>


                <hr />
                <div class="center-block" style="text-align:center;">
                    <label>
                        CAS: Código de Adquisición de Servicios del Banco de Reservas
                    </label>

                    <button style="    border-bottom: 2px solid #00254d59; background: #66aaf4; border-radius: 7px; margin-top: 15px;margin-bottom: 5px; text-align: center;" type="button" class="btn btn-info" data-toggle="collapse" data-target="#recibodebanco">Ver CAS en recibo del banco</button>
                    <div id="recibodebanco" class="collapse">

                        <img width="60%" src="~/content/images/Recibo-Banreservas.png" style="border: 3px solid #e0e0e0;width: 100%; margin: 0px 0 28px 0;">


                        <marquee id="marqueeCAS" behavior="alternate" direction="up" scrolldelay="400" style="height: 15px; width: 10px; display: inline-block; position: absolute; left: 73%; bottom: 74.7%;">
                            <span title="Código de Adquisición de Servicios CAS" class="important-tooltip"> </span>
                        </marquee>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="cerrar" class="btn btn-default" data-dismiss="modal">Cerrar ventana</button>
            </div>

            @if (ViewBag.ProcederAlPago != null && ViewBag.PagoExitoso == null)
            {
                <script>
                    swal({
                        title: 'Documentos Listos!',
                        text: 'Sus documentos de la MESCyT ya están listos. Favor continuar con el pago de los servicios.',
                        type: 'success'
                    }).then(
                        function () {
                            console.log("Cerrado");
                            $("#openModal").click();
                            // window.location = '@Url.Action("details", "ExequaturSolicitud", new { id = 21565 })';
                        },
                        // handling the promise rejection
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer')
                                //window.location = '@Url.Action("details", "ExequaturSolicitud", new { id = 21565 })';
                            }
                        });
                </script>
            }

            @if (ViewBag.PagoExitoso == true)
            {
                <script>
                    swal({
                        title: 'Pago exitoso!',
                        text: 'Su pago se ha realizado correctamente. Su solicitud parasá a la presidencia.',
                        type: 'success'
                    });
                </script>
            }
            else if (ViewBag.PagoExitoso == false)
            {
                <script>
                    swal({
                        title: 'No ha sido posible realizar la transacción.',
                        text: 'Lo sentimos. No se puede procesar su transacción en estos momentos. Intente más tarde, consulte con su banco ó proceda a comprar su impuesto en la sucursal de Banreservas más cercana.',
                        type: 'error'
                    });
                </script>
            }
            <script>
                $(document).ready(function () {


                    const tippyCAS = "";


                    $("#pagarConElBanco").hide();
                });

                $("#validarCodigos").click(function () {

                    if ($("#cie").val() == "" || $("#ciap").val() == "") {
                        swal("", "Debe introducir los 2 códigos de servicio");
                        return;
                    }

                    showLoading();

                    $.ajax({
                        url: '@HttpRuntime.AppDomainAppVirtualPath.ToMyPath()/exequatursolicitud/PagoImpuestosConBanco',
                        method: 'post',
                        data: { casExequatur: $("#cie").val(), casCNAP: $("#ciap").val(), idSolicitud: @Model.ExeqSolicID },
                        success: function (data) {
                            hideLoading();
                            if (data.Estatus == "OK") {
                                swal('', data.Message, 'success');
                                $("#cerrar").click();
                            }
                            else {
                                swal('', data.Message, 'error');
                            }
                            console.log(data);
                        },
                        error: function(){
                            swal('', "Ha ocurrido un problema con la solicitud en el servidor", 'error');
                        }
                    });
                });

                $("#codigoBanco").click(function () {

                    tippyCAS = tippy('.important-tooltip', {
                        position: 'bottom',
                        distance: 20,
                        arrow: true,
                        trigger: 'manual',
                        size: 'big',
                        sticky: true,
                        performance: true,
                        hideOnClick: false,
                        popperOptions: {
                            modifiers: {
                                flip: {
                                    behavior: ['right', 'bottom']
                                }
                            }
                        }
                    });

                    $("#pagarConElBanco").show('slow');
                });

                $('#recibodebanco').on('shown.bs.collapse', function(){
                    tippyCAS.show(tippyCAS.getPopperElement($('.important-tooltip')[0]));
                });

                $('#recibodebanco').on('hide.bs.collapse', function(){
                    tippyCAS.hide(tippyCAS.getPopperElement($('.important-tooltip')[0]));
                });

                //OCULTAR MARQUEE
                $('#myModal').on('hide.bs.modal', function (e) {
                    tippyCAS.hide(tippyCAS.getPopperElement($('.important-tooltip')[0]));
                });
                $("#cerrar").click(function () {
                    $("#pagarConElBanco").hide();
                });

                $('#pagoCarnet').click(function(){
                    if (document._CardNetProcessStarted)
                        return;

                    document._CardNetProcessStarted = true;

                    $.ajax({
                        url: '@HttpRuntime.AppDomainAppVirtualPath.ToMyPath()/exequatursolicitud/iniciarpagocardnet',
                        method: 'post',
                        success: function(data){
                            try {
                                data = JSON.parse(data);
                            }
                            catch(ex){
                                console.log(data);
                                document._CardNetProcessStarted = false;
                                swal('', 'Fallo inesperado', 'error');
                                return;
                            }

                            if (data != null)
                                if (data.Response === "OK")
                                {
                                    $('body').append(
                                    '<form id="tempForm" method="post" action="@System.Configuration.ConfigurationManager.AppSettings["URLCardnet_Request"]">' +
                                        '<input type="hidden" name="Amount" value="' + data.Amount + '" />' +
                                        '<input type="hidden" name="OrdenId" value="' + data.OrdenId + '" />' +
                                        '<input type="hidden" name="TransactionId" value="' + data.TransactionId + '" />' +
                                        '<input type="hidden" name="ReturnUrl" value="' + data.ReturnUrl + '" />' +
                                    '</form>');

                                    $('#tempForm').submit();
                                }
                                else
                                    swal('', data.Response, 'error');
                            else
                                swal('', "Ha ocurrido un problema con la solicitud", 'error');

                            document._CardNetProcessStarted = false;
                        },
                        error: function(){
                            document._CardNetProcessStarted = false;
                            swal('', "Ha ocurrido un problema con la solicitud en el servidor", 'error');
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-5">
        <h2>Detalle de la solicitud</h2>
    </div>
    <div class="col-md-7">
        <div class="pull-right">
            <a class="btn btn-primary" href="@Url.Action("Index", "ExequaturSolicitud")"><i class="fa fa-chevron-left"></i> Volver</a>
        </div>
    </div>
</div>
<hr />

<div class="alert alert-success" role="alert">
    <p>
        <b>@Html.DisplayNameFor(model => model.ExequSolicNumMescyt): </b> @Html.DisplayFor(model => model.ExequSolicNumMescyt)
    </p>
    <p>
        <b>@Html.DisplayNameFor(model => model.ServEstID): </b> @Html.DisplayFor(model => model.ServicioEstado.ServEstNombre)
    </p>
</div>

<div class="wizard">
    <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="disabled" id="li1">
                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="MESCyT: Certificación de documentos">
                    <span class="round-tab">
                        <i class="" aria-hidden="true">
                            <img src="~/Content/newDesing/images/mescyt.png" style="max-width: 50%; margin-bottom: 5px;" />
                        </i>
                    </span>
                </a>
            </li>
            <li role="presentation" id="li2" class="disabled n2">
                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Procuraduría General de la República: Pago de servicios, Generar Certificación de no Antecedentes Penales">
                    <span class="round-tab">
                        <i class="" aria-hidden="true">
                            <img src="~/Content/newDesing/images/mp.png" style="max-width: 50%; margin-bottom: 5px;" />
                        </i>
                    </span>
                </a>
            </li>
            <li role="presentation" class="disabled" id="li1">
                <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="MESCyT: Validación de documentos enviados por PGR">
                    <span class="round-tab">
                        <i class="" aria-hidden="true">
                            <img src="~/Content/newDesing/images/mescyt.png" style="max-width: 50%; margin-bottom: 5px;" />
                        </i>
                    </span>
                </a>
            </li>

            <li role="presentation" id="li3" class="disabled">
                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Presidencia de la República Dominicana: Generación del decreto">
                    <span class="round-tab">
                        <i class="" aria-hidden="true">
                            <img src="~/Content/newDesing/images/presidencia.png" style="max-width: 50%; margin-bottom: 5px;" />
                        </i>
                    </span>
                </a>
            </li>

            <li role="presentation" id="li4" class="disabled">
                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Proceso Completado">
                    <span class="round-tab">
                        <i class="fa fa-check" aria-hidden="true">
                        </i>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content indicador">

        <!--Primer Tab-->
        <div class="tab-pane col-lg-12 form-inline" role="tabpanel" id="step1">
            <h3> <b>Su solicitud se encuentra en: </b> Ministerio de Educación Superior Ciencia y Tecnología</h3>
        </div>

        <div class="tab-pane col-lg-12 form-inline" role="tabpanel" id="step4">
            <h3> <b>Su solicitud se encuentra en: </b> Ministerio de Educación Superior Ciencia y Tecnología</h3>
        </div>

        <!--Segundo Tab-->
        <div class="tab-pane form-inline n2" role="tabpanel" id="step2">
            <h3> <b>Su solicitud se encuentra en: </b> Procuraduría General de la República</h3>
        </div>

        <!--Tercer Tab-->
        <div class="tab-pane" role="tabpanel" id="step3">
            <h3><b>Su solicitud se encuentra en: </b>Presidencia de la República Dominicana</h3>
        </div>

        <br />
        <!--Cuarto Tab-->
        <div class="tab-pane" role="tabpanel" id="complete">
            <h2>Documentos procesados</h2>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="table-responsive">

    <table class="table" style="font-size: 12px !important;">
        <thead>
            <tr>
                <th>

                    @Html.DisplayName("Documentos")
                </th>
                <th>
                    @Html.DisplayName("Responsable")
                </th>
                <th>
                    @Html.DisplayName("Inicio")
                </th>
                <th>
                    @Html.DisplayName("Culminación")
                </th>
                <th>
                    @Html.DisplayName("Tiempo")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.DocumentosListos)
            {
                <tr>
                    <td>
                        <text>
                            ✓
                        </text>
                        @if (item.ExeqDocReqID == 1 || item.ExeqDocReqID == 2 || item.ExeqDocReqID == 5 || item.ExeqDocReqID == 8)
                        {
                            <a href="http://api.uavvg.pgr.gob.do/wsexequatur/@item.Url" target="_Nuevo">@item.ExeqDocReqDescripcion</a>

                        }
                        else
                        {
                            <a href="@HttpRuntime.AppDomainAppVirtualPath.ToMyPath()@item.Url" target="_Nuevo">@item.ExeqDocReqDescripcion</a>
                        }
                    </td>
                    <td>
                        <p>@item.ExequaturInstitucion.ExeqInstNombre</p>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ExeqSolicFechaCreacion)
                    </td>
                    <td>
                        @item.fechaCulminacion
                    </td>
                    <td>
                        @if (item.fechaCulminacion != null)
                        {
                            tiempoTranscurrido = UtilityMethods.TotiempoTranscurrido(Model.ExeqSolicFechaCreacion.ToString(), item.fechaCulminacion.ToString());
                            <p>@tiempoTranscurrido</p>
                        }
                        else
                        {
                            <p>Pendiente</p>
                        }
                    </td>
                </tr>
            }
            @*<tr>*@


            @*<td>
                    @foreach (var item in ViewBag.DocumentosListos)
                    {
                        <text>
                            ✓
                        </text>
                        <a href="@HttpRuntime.AppDomainAppVirtualPath@item.ServDocUrl" target="_Nuevo">@item.ExequaturDocRequeridos.ExeqDocReqDescripcion</a>
                        <p>@item.ExequaturDocRequeridos.ExequaturInstitucion.ExeqInstNombre</p>
                        <hr />
                    }
                </td>*@
            @*  <td>
                @foreach(var item in ViewBag.DocumentosPendientes)
                     {
                         <text> x </text>
                         @ViewBag.DocumentosPendientes.ExeqDocReqDescripcion
                         <hr />
                     }
                                </td>*@
            @*</tr>*@
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        var Estado = @Model.ServEstID;
        if (Estado == 26 || Estado == 27 || Estado == 41 ) {
            $("#li1").attr("class", "active")
            $("#step1").attr("class", "active");
        }
        else if (Estado == 38) {
            $("#li3").attr("class", "active")
            $("#step3").attr("class", "active");
        }
        else if (Estado == 39 || Estado == 43) {
            $("#li4").attr("class", "active")
            $("#complete").attr("class", "active");
        }
        else if (Estado == 47 || Estado == 45) {
            $("#li2").attr("class", "active")
            $("#step2").attr("class", "active");
        }
    });
</script>
